Repository IntellectualSites/documentation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @IntellectualSites/clipboard-connect-developers, @IntellectualSites/fastasyncworldedit-team, @IntellectualSites/fastasyncvoxelsniper-team, @IntellectualSites/plotsquared-team, @IntellectualSites/core-team

.github/CODEOWNERS:

clipboardconnect/ @IntellectualSites/clipboard-connect-developers 
fastasyncworldedit/ @IntellectualSites/fastasyncworldedit-team
fastasyncvoxelsniper/ @IntellectualSites/fastasyncvoxelsniper-team
plotsquared/ @IntellectualSites/plotsquared-team
root/ @IntellectualSites/core-team

Spelling
  plotsquared/optimization/plot-analysis.md
Owners: @IntellectualSites/plotsquared-team

Fixing file link
  plotsquared/block-bucket.md
Owners: @IntellectualSites/plotsquared-team

Fixing typos
  fastasyncworldedit/commands/schematics/schematic.md
  fastasyncworldedit/commands/selection/selection.md
Owners: @IntellectualSites/fastasyncworldedit-team

chore: add enginehub maven repo for FAWE
  fastasyncworldedit/API/api-usage.md
Owners: @IntellectualSites/fastasyncworldedit-team

chore: add enginehub maven repo for FAWE (#114)
  fastasyncworldedit/API/api-usage.md
Owners: @IntellectualSites/fastasyncworldedit-team

Add enginehub repo in all required places
  fastasyncworldedit/API/api-usage.md
Owners: @IntellectualSites/fastasyncworldedit-team

Improving some descriptions and spellings
  plotsquared/commands.md
Owners: @IntellectualSites/plotsquared-team

Small typo
  plotsquared/commands.md
Owners: @IntellectualSites/plotsquared-team

[ImgBot] Optimize images
  fastasyncvoxelsniper/images/Commands/bOverlay.png
  fastasyncvoxelsniper/images/Commands/blendBall.png
  fastasyncvoxelsniper/images/Commands/brush.png
  fastasyncvoxelsniper/images/Commands/brushReset.png
  fastasyncvoxelsniper/images/Commands/brushesAbbreviated.png
  fastasyncvoxelsniper/images/Commands/brushesLong.png
  fastasyncvoxelsniper/images/Commands/drain.png
  fastasyncvoxelsniper/images/Commands/overlayInfo.png
  fastasyncvoxelsniper/images/Commands/perfAbbreviated.png
  fastasyncvoxelsniper/images/Commands/perfLong.png
  fastasyncvoxelsniper/images/Commands/performerExample.png
  fastasyncvoxelsniper/images/Commands/randomErodeArrow.png
  fastasyncvoxelsniper/images/Commands/randomErodeGunpowder.png
  fastasyncvoxelsniper/images/Commands/splatterOverlay.png
  fastasyncvoxelsniper/images/Commands/splatterOverlayInfo.png
  fastasyncvoxelsniper/images/Commands/underlayInfo.png
  fastasyncvoxelsniper/images/Commands/vs.png
  fastasyncworldedit/advanced-commands/images/excludeRegionsGmask.png
  fastasyncworldedit/advanced-commands/images/excludeRegionsGmask3.png
  fastasyncworldedit/advanced-commands/images/excludeRegionsGmask4.png
  fastasyncworldedit/commands/navigation/images/jumpto-topblock.png
  fastasyncworldedit/commands/navigation/images/thru.png
  fastasyncworldedit/commands/navigation/images/up.png
  fastasyncworldedit/commands/selection/images/pos.png
  plotsquared/images/Cover.png
Owners: @IntellectualSites/fastasyncvoxelsniper-team, @IntellectualSites/fastasyncworldedit-team, @IntellectualSites/plotsquared-team

Update tool-items.md
  fastasyncworldedit/tool-items/tool-items.md
Owners: @IntellectualSites/fastasyncworldedit-team

PS: Improving some descriptions and spellings (#115)
  plotsquared/commands.md
Owners: @IntellectualSites/plotsquared-team

Fix FAWE maven repos
  fastasyncworldedit/API/api-usage.md
Owners: @IntellectualSites/fastasyncworldedit-team

Add Farwand description in tool-items.md (#118)
  fastasyncworldedit/tool-items/tool-items.md
Owners: @IntellectualSites/fastasyncworldedit-team

Fix typo
  plotsquared/plot-flags.md
Owners: @IntellectualSites/plotsquared-team

Fix typo
  plotsquared/plot-flags.md
Owners: @IntellectualSites/plotsquared-team

Move typos to GH action
  .github/workflows/typos.yml
Owners: none

Move typos to GH action (#126)
  .github/workflows/typos.yml
Owners: none

Adding "weaving-death-place" flag
  plotsquared/plot-flags.md
Owners: @IntellectualSites/plotsquared-team

Adding "weaving-death-place" flag (#133)
  plotsquared/plot-flags.md
Owners: @IntellectualSites/plotsquared-team

docs: add-disableblockupdateflag
  plotsquared/plot-flags.md
Owners: @IntellectualSites/plotsquared-team

Shorten gradle maven
  fastasyncworldedit/API/api-usage.md
  plotsquared/api/api-documentation.md
Owners: @IntellectualSites/fastasyncworldedit-team, @IntellectualSites/plotsquared-team

Update storage.md
  plotsquared/configuration/storage.md
Owners: @IntellectualSites/plotsquared-team

Remve EOL plotme permission
  fastasyncworldedit/permission/permissions.md
Owners: @IntellectualSites/fastasyncworldedit-team

docs: correct typos and style inconsistencies in why‑plotsquared.md
  plotsquared/why-plotsquared.md
Owners: @IntellectualSites/plotsquared-team

fix: typo
  plotsquared/why-plotsquared.md
Owners: @IntellectualSites/plotsquared-team

Update main-commands-and-permissions.md
  fastasyncworldedit/main-commands-and-permissions.md
Owners: @IntellectualSites/fastasyncworldedit-team

feat: add github translation download links
  plotsquared/README.md
Owners: @IntellectualSites/plotsquared-team

Update why-plotsquared.md
  plotsquared/why-plotsquared.md
Owners: @IntellectualSites/plotsquared-team

Update settings.md
  plotsquared/configuration/settings.md
Owners: @IntellectualSites/plotsquared-team

Update README.md
  fastasyncvoxelsniper/README.md
Owners: @IntellectualSites/fastasyncvoxelsniper-team

Update README.md
  fastasyncworldedit/README.md
Owners: @IntellectualSites/fastasyncworldedit-team

docs: correct typos and style inconsistencies in why‑plotsquared.md (#169)
  plotsquared/why-plotsquared.md
Owners: @IntellectualSites/plotsquared-team

feat: add github translation download links (#176)
  fastasyncvoxelsniper/README.md
  fastasyncworldedit/README.md
  plotsquared/README.md
  plotsquared/configuration/settings.md
  plotsquared/why-plotsquared.md
Owners: @IntellectualSites/fastasyncvoxelsniper-team, @IntellectualSites/fastasyncworldedit-team, @IntellectualSites/plotsquared-team

Fix flag-api typo and clarified instance initialization timing
  plotsquared/api/flag-api.md
Owners: @IntellectualSites/plotsquared-team

Fix typo
  fastasyncworldedit/commands/schematics/schematic.md
Owners: @IntellectualSites/fastasyncworldedit-team

Update a few links
  fastasyncworldedit/README.md
  fastasyncworldedit/installation/installation.md
  plotsquared/installation/installation.md
  plotsquared/installation/updating-from-1.12-to-1.13.md
  plotsquared/old/changelog-old.md
  plotsquared/why-plotsquared.md
  plotsquared/worldedit-features.md
  root/index.md
Owners: @IntellectualSites/fastasyncworldedit-team, @IntellectualSites/plotsquared-team, @IntellectualSites/core-team

Update typos
  tools/check-typos.sh
Owners: none

Updating placeholder table
  plotsquared/customization/placeholders.md
Owners: @IntellectualSites/plotsquared-team

Reformatting placeholder table
  plotsquared/customization/placeholders.md
Owners: @IntellectualSites/plotsquared-team

Fix flag-api typo and clarified instance initialization timing (#186)
  plotsquared/api/flag-api.md
Owners: @IntellectualSites/plotsquared-team
